body {
  font-family: 'Merriweather', serif;
  background: #fb3;
  margin: 0;
}

menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-margin-before: 0em;
  -webkit-padding-start: 0px;
}

menu ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#upper-slide {
  height: 100vh;
  background: #ff4350;
  transition: width 0.6s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.1);
  width: 0px;
}

#slide {
  height: 100vh;
  transition: width 0.3s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.1);
  opacity: 0.5;
  background: #ff4350;
  width: 0px;
  position: absolute;
  top: 0;
}

.upper-slide-right {
  width: 600px!important;
}

.slide-right {
  width: 650px!important;
}

.menu-icon {
  position: absolute;
  display:  inline-block;
  width: 100px;
  height: 50px;
  margin: 40px 70px;
  cursor: pointer;
  z-index: 10;
}

.menu-icon span {
  position: relative;
  top: 25px;
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
}

.menu-icon span:before, .menu-icon span:after {
  position: absolute;
  content: '';
}

.menu-iconspan, .menu-icon span:before, .menu-icon span:after {
  width: 40px;
  height: 3px;
  background-color: #fff;
  display: block;
}

.menu-icon span:before {
  margin-top: -12px;
}

.menu-icon span:after {
  margin-top: 12px;
}

.menu-icon span {
  -webkit-transition-duration: 0s; transition-duration: 0s;
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}

.hover span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}

.menu-icon span:before {
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}

.hover span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg); transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

.menu-icon span:after {
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}

.hover span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

ul {
  list-style: none;
}

menu ul {
  left: -550px;
  transition: left 0.7s;
  transition-timing-function: cubic-bezier(0.1, 0.7);
}

menu ul li {
  line-height: 42pt;
  color: #fff;
  font-size: 24pt;
}

li {
  transform: translateX(-150px);
}

.slide-in {	
  left: 100px;
}

.slide-in li {
  transform: translateX(0px);
}

.slide-in li:nth-child(1) {
  transition: transform 0.1s;
}

.slide-in li:nth-child(2) {
  transition: transform 0.6s;
}

.slide-in li:nth-child(3) {
  transition: transform 1.1s;
}

.slide-in li{	
  left: 150px;
}